{{define "title"}}{{.app.Name}} - 创作你的创作{{end}}
{{define "content"}}
    <div class="row">
        <div class="col-xs-16 main">
            <!-- Banner -->
            <div id="indexCarousel" class="carousel slide">
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="banner" data-banner-name="悬疑">
                            <a target="_blank" href="http://product.dangdang.com/28471013.html "><img src="//upload.jianshu.io/admin_banners/web_images/4787/c4193ae08ae78a40e945d1e75ff84b4592147b13.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/1250/h/540" alt="540"></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="split-line"></div>
            <div id="list-container">
                <!-- 文章列表模块 -->
                <ul class="note-list" infinite-scroll-url="/">

                    <li id="note-56013025" data-note-id="56013025" class="have-img">
                        <a class="wrap-img" href="/p/c832e07343d5" target="_blank">
                            <img class="  img-blur-done" src="/static/img/upload/tmp.png" alt="120">
                        </a>
                        <div class="content">
                            <a class="title" target="_blank" href="/p/c832e07343d5">赶快看看Java11，不然你就out了！</a>
                            <p class="abstract">
                                为什么选择Java11 容器环境支持，GC等领域的增强。 进行了瘦身，更轻量级，安装包体积小。 JDK11 是一个长期支持版。 特性介绍 由于直...
                            </p>
                            <div class="meta">
        <span class="jsd-meta">
          <i class="iconfont ic-paid1"></i> 8.6
        </span>
                                <a class="nickname" target="_blank" href="/u/5872afeb0215">java菲</a>
                                <a target="_blank" href="/p/c832e07343d5#comments">
                                    <i class="iconfont ic-list-comments"></i> 2
                                </a>      <span><i class="iconfont ic-list-like"></i> 25</span>
                            </div>
                        </div>
                    </li>



                    <li id="note-53072769" data-note-id="53072769" class="have-img">
                        <a class="wrap-img" href="/p/5481f3fa3724" target="_blank">
                            <img class="  img-blur-done" src="/static/img/upload/tmp.png" alt="120">
                        </a>
                        <div class="content">
                            <a class="title" target="_blank" href="/p/5481f3fa3724">Django+xadmin打造在线考试系统2.0</a>
                            <p class="abstract">
                                需要代码请看这里： Django+xadmin打造在线考试系统2.0（附代码） 前期利用业余时间开发了一个在线考试系统，大家关注度还比较高，因此...
                            </p>
                            <div class="meta">
        <span class="jsd-meta">
          <i class="iconfont ic-paid1"></i> 18.9
        </span>
                                <a class="nickname" target="_blank" href="/u/f5065e26181b">bc_zhang</a>
                                <a target="_blank" href="/p/5481f3fa3724#comments">
                                    <i class="iconfont ic-list-comments"></i> 8
                                </a>      <span><i class="iconfont ic-list-like"></i> 63</span>
                            </div>
                        </div>
                    </li>

                    <a target="_blank" class="youdao-flow-ad clearfix"><div class="img" style="background-image: url(&quot;https://oimageb3.ydstatic.com/image?id=3843026668334528301&amp;product=adpublish&amp;w=300&amp;h=200&amp;sc=0&amp;rm=2&amp;gsb=0&amp;gsbd=60&quot;);"></div> <div class="info"><p class="title">戴尔官网11.11，灵越4999元起！</p> <p class="intro">戴尔官网 11.11，灵越5000系列4999元起！专享2年电池保修！</p> <span class="ad-badge">广告</span></div></a>


                    <li id="note-55890195" data-note-id="55890195" class="have-img">
                        <a class="wrap-img" href="/p/ebdf8659a7ac" target="_blank">
                            <img data-echo="/static/img/upload/tmp.png" class="img-blur" src="/static/img/upload/tmp.png" alt="120">
                        </a>
                        <div class="content">
                            <a class="title" target="_blank" href="/p/ebdf8659a7ac">腾讯程序员辞职送外卖，晒出工资后，网友：这么多？</a>
                            <p class="abstract">
                                左边是金光闪闪的腾讯员工，坐在顶级写字楼里，做着最科技的事情，让人羡慕。 右边是风里来雨里去的外卖师傅，不畏严寒酷暑，穿梭在城市的大街小巷。 如...
                            </p>
                            <div class="meta">
        <span class="jsd-meta">
          <i class="iconfont ic-paid1"></i> 21.6
        </span>
                                <a class="nickname" target="_blank" href="/u/2f30fc28df95">路上阳光</a>
                                <a target="_blank" href="/p/ebdf8659a7ac#comments">
                                    <i class="iconfont ic-list-comments"></i> 28
                                </a>      <span><i class="iconfont ic-list-like"></i> 64</span>
                                <span><i class="iconfont ic-list-money"></i> 13</span>
                            </div>
                        </div>
                    </li>



                    <li id="note-55670865" data-note-id="55670865" class="have-img">
                        <a class="wrap-img" href="/p/2b13396239c4" target="_blank">
                            <img data-echo="/static/img/upload/tmp.png" class="img-blur" src="/static/img/upload/tmp.png" alt="120">
                        </a>
                        <div class="content">
                            <a class="title" target="_blank" href="/p/2b13396239c4">Onedrive搭建个人网盘</a>
                            <p class="abstract">
                                前言 最近发现在不断更换工具的时候，工具太杂太乱。而且在进行一些团队合作的时候也不能每次拷来拷去。随想着放在公网上，也方便大家使用。采用Onef...
                            </p>
                            <div class="meta">
        <span class="jsd-meta">
          <i class="iconfont ic-paid1"></i> 3.1
        </span>
                                <a class="nickname" target="_blank" href="/u/859a42ec7c8f">CSeroad</a>
                                <a target="_blank" href="/p/2b13396239c4#comments">
                                    <i class="iconfont ic-list-comments"></i> 1
                                </a>      <span><i class="iconfont ic-list-like"></i> 9</span>
                            </div>
                        </div>
                    </li>


                    <li id="note-52460884" data-note-id="52460884" class="have-img">
                        <a class="wrap-img" href="/p/f30ea673fcc7" target="_blank">
                            <img data-echo="/static/img/upload/tmp.png" class="img-blur" src="/static/img/upload/tmp.png" alt="120">
                        </a>
                        <div class="content">
                            <a class="title" target="_blank" href="/p/f30ea673fcc7">5款以实力逆天的软件，每一样都是神器……</a>
                            <p class="abstract">
                                今天我来介绍5款逆天的软件，每一样都是神器…… 网盘搜索（246.18k） 这是一款汇聚多个网盘搜索引擎的软件。 网盘搜索汇聚盘搜搜、58网盘、...
                            </p>
                            <div class="meta">
        <span class="jsd-meta">
          <i class="iconfont ic-paid1"></i> 23.3
        </span>
                                <a class="nickname" target="_blank" href="/u/92f659ef45ad">小小工具菌</a>
                                <a target="_blank" href="/p/f30ea673fcc7#comments">
                                    <i class="iconfont ic-list-comments"></i> 13
                                </a>      <span><i class="iconfont ic-list-like"></i> 105</span>
                            </div>
                        </div>
                    </li>



                    <li id="note-56046251" data-note-id="56046251" class="have-img">
                        <a class="wrap-img" href="/p/966954a2c30e" target="_blank">
                            <img data-echo="/static/img/upload/tmp.png" class="img-blur" src="/static/img/upload/tmp.png" alt="120">
                        </a>
                        <div class="content">
                            <a class="title" target="_blank" href="/p/966954a2c30e">阿里工程师太凶残了，竟把服务器泡在“水里”！</a>
                            <p class="abstract">
                                万众瞩目的第11个双11要来了！这次天猫说要帮大家省500亿，身边加购物车、组队盖楼的同学数不胜数，热闹非凡。 但在阿里，有一位低调的“高冷男”...
                            </p>
                            <div class="meta">
        <span class="jsd-meta">
          <i class="iconfont ic-paid1"></i> 3.6
        </span>
                                <a class="nickname" target="_blank" href="/u/12532d36e4da">阿里云云栖社区</a>
                                <a target="_blank" href="/p/966954a2c30e#comments">
                                    <i class="iconfont ic-list-comments"></i> 3
                                </a>      <span><i class="iconfont ic-list-like"></i> 14</span>
                            </div>
                        </div>
                    </li>



                    <li id="note-52711691" data-note-id="52711691" class="have-img">
                        <a class="wrap-img" href="/p/49a915bed152" target="_blank">
                            <img data-echo="/static/img/upload/tmp.png" class="img-blur" src="/static/img/upload/tmp.png" alt="120">
                        </a>
                        <div class="content">
                            <a class="title" target="_blank" href="/p/49a915bed152">Fabric 1.4.2 动态添加orderer节点</a>
                            <p class="abstract">
                                本文演示如何在raft共识启动的fabric网络中动态添加orderer节点，fabric版本v1.4.2。为方便实验，使用fabric-sam...
                            </p>
                            <div class="meta">
                                <a class="nickname" target="_blank" href="/u/c59aab69b309">黑焰_</a>
                                <a target="_blank" href="/p/49a915bed152#comments">
                                    <i class="iconfont ic-list-comments"></i> 3
                                </a>      <span><i class="iconfont ic-list-like"></i> 0</span>
                            </div>
                        </div>
                    </li>


                </ul>
                <!-- 文章列表模块 -->
            </div>
        </div>
        <div class="col-xs-7 col-xs-offset-1 aside">
            <!-- 推荐作者 -->
            <div class="recommended-author-wrap">
                <div class="recommended-authors">
                    <div class="title">
                        <span>推荐作者</span> <a class="page-change"><i class="iconfont ic-search-change" style="transform: rotate(0deg);"></i>
                            换一批
                        </a></div> <ul class="list"><li><a href="/u/4ce7aca123a3?utm_source=desktop&amp;utm_medium=index-users" target="_blank" class="avatar"><img src="//upload.jianshu.io/users/upload_avatars/6305091/dc5b863a-26fc-47df-af32-18177f6cc9ff.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96/format/webp"></a> <a class="follow" state="0"><i class="iconfont ic-follow"></i>关注
                            </a> <a href="/u/4ce7aca123a3?utm_source=desktop&amp;utm_medium=index-users" target="_blank" class="name">
                                只有一半影子的人
                            </a> <p>
                                写了265.7k字 · 1.4k喜欢
                            </p></li><li><a href="/u/51b4ef597b53?utm_source=desktop&amp;utm_medium=index-users" target="_blank" class="avatar"><img src="//upload.jianshu.io/users/upload_avatars/9988193/fc26c109-1ae6-4327-a298-2def343e9cd8.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96/format/webp"></a> <a class="follow" state="0"><i class="iconfont ic-follow"></i>关注
                            </a> <a href="/u/51b4ef597b53?utm_source=desktop&amp;utm_medium=index-users" target="_blank" class="name">
                                董克平日记
                            </a> <p>
                                写了753.4k字 · 2.2k喜欢
                            </p></li><li><a href="/u/ef4f2422125f?utm_source=desktop&amp;utm_medium=index-users" target="_blank" class="avatar"><img src="//upload.jianshu.io/users/upload_avatars/301940/189d69dd-af7c-4290-9e2c-89e98acf3603.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96/format/webp"></a> <a class="follow" state="0"><i class="iconfont ic-follow"></i>关注
                            </a> <a href="/u/ef4f2422125f?utm_source=desktop&amp;utm_medium=index-users" target="_blank" class="name">
                                卢璐说
                            </a> <p>
                                写了1279.9k字 · 27.5k喜欢
                            </p></li><li><a href="/u/c5a2ce84f60b?utm_source=desktop&amp;utm_medium=index-users" target="_blank" class="avatar"><img src="//upload.jianshu.io/users/upload_avatars/14715425/e0668349-8c75-43db-8a9d-c388e5f00d0d.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96/format/webp"></a> <a class="follow" state="0"><i class="iconfont ic-follow"></i>关注
                            </a> <a href="/u/c5a2ce84f60b?utm_source=desktop&amp;utm_medium=index-users" target="_blank" class="name">
                                简书钻首席小管家
                            </a> <p>
                                写了197.6k字 · 152k喜欢
                            </p></li><li><a href="/u/bf26d103fb8d?utm_source=desktop&amp;utm_medium=index-users" target="_blank" class="avatar"><img src="//upload.jianshu.io/users/upload_avatars/7133325/f4370cf6-cf4d-4839-9b54-87beaa767d48?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96/format/webp"></a> <a class="follow" state="0"><i class="iconfont ic-follow"></i>关注
                            </a> <a href="/u/bf26d103fb8d?utm_source=desktop&amp;utm_medium=index-users" target="_blank" class="name">
                                Hobbit霍比特人
                            </a> <p>
                                写了205.9k字 · 1k喜欢
                            </p></li></ul> <a href="/recommendations/users?utm_source=desktop&amp;utm_medium=index-users" target="_blank" class="find-more">
                        查看全部<i class="iconfont ic-link"></i></a> <!----></div></div>
        </div>
    </div>
{{end}}

{{define "css"}}
    <link rel="stylesheet" media="all" href="/static/css/index.css" />
{{end}}

{{define "js"}}
{{/*    <script src="/static/js/index.js" crossorigin="anonymous"></script>*/}}
{{end}}